{% block content %}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Team</h4>
            <p class="card-description">Edit Team </p>
            <form class="forms-sample" id="FORM">
                <input type="hidden" id="hdnID" value="{{ ID }}">

                <div class="form-group row">
                    <label for="txtTeamName" class="col-sm-3 col-form-label">Team name</label><br>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtTeamName" placeholder=" Team name"
                            value="{{ TeamName }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtTeamDescription" class="col-sm-3 col-form-label">Team description</label><br>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="txtTeamDescription" rows="50" cols="80"
                            placeholder="Team description">
                            {{ TeamDescription }}
                        </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cmbLeader" class="col-sm-3 col-form-label">Leader</label><br>
                    <div class="col-sm-9">
                        <input id="cmbLeader" class="form-control" required value="{{ LeaderID }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cmbProject" class="col-sm-3 col-form-label">Project</label><br>
                    <div class="col-sm-9">
                        <input id="cmbProject" class="form-control" required value="{{ ProjectID }}">
                    </div>
                </div>
                <button type="button" class="btn btn-gradient-primary me-2" onclick="UpdateTeam()">Update Team</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        InitTeamCreate();
    });
</script>
{% endblock %}