USE [master]
GO
/****** Object:  Database [LambdaComplex]    Script Date: 14-04-2024 11:55:42 PM ******/
CREATE DATABASE [LambdaComplex]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LambdaComplex', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LambdaComplex.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LambdaComplex_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LambdaComplex_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LambdaComplex].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LambdaComplex]
GO
/****** Object:  User [Server_Admin]    Script Date: 14-04-2024 11:55:43 PM ******/
CREATE USER [Server_Admin] FOR LOGIN [Server_Admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[LambdaComplex_CalendarEvent_Trn_Tbl]    Script Date: 14-04-2024 11:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LambdaComplex_CalendarEvent_Trn_Tbl](
	[ID] [varchar](36) NOT NULL,
	[EventDescription] [varchar](max) NULL,
	[EventDate] [datetime] NULL,
	[CreatedBy] [varchar](36) NOT NULL,
	[ModifiedBy] [varchar](36) NOT NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[EventPriority] [varchar](4) NULL,
	[EventName] [varchar](200) NULL,
	[EventTime] [varchar](10) NULL,
	[IsExpired] [bit] NULL,
 CONSTRAINT [PK__LambdaCo__3214EC278A076386] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LambdaComplex_File_Trn_Tbl]    Script Date: 14-04-2024 11:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LambdaComplex_File_Trn_Tbl](
	[ID] [varchar](36) NULL,
	[UserID] [varchar](36) NOT NULL,
	[RecordID] [varchar](36) NOT NULL,
	[FileName] [varchar](200) NOT NULL,
	[FileType] [varchar](200) NOT NULL,
	[StoredFileName] [varchar](500) NOT NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [varchar](36) NULL,
	[ModifiedBy] [varchar](36) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LambdaComplex_Goal_Changes_Trn_tbl]    Script Date: 14-04-2024 11:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LambdaComplex_Goal_Changes_Trn_tbl](
	[RecordId] [varchar](36) NULL,
	[ID] [varchar](36) NULL,
	[Name] [varchar](200) NULL,
	[Description] [varchar](max) NULL,
	[RunningStatus] [int] NULL,
	[AssignedTo] [varchar](36) NULL,
	[ReportingStatus] [varchar](15) NULL,
	[Version] [int] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [varchar](36) NULL,
	[ModifiedBy] [varchar](36) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsStable] [bit] NULL,
	[Deadline] [datetime] NULL,
	[Rating] [int] NULL,
	[Remarks] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LambdaComplex_Goal_Mst_tbl]    Script Date: 14-04-2024 11:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LambdaComplex_Goal_Mst_tbl](
	[ID] [varchar](36) NULL,
	[Name] [varchar](200) NULL,
	[Description] [varchar](max) NULL,
	[RunningStatus] [int] NULL,
	[AssignedTo] [varchar](36) NULL,
	[ReportingStatus] [varchar](15) NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [varchar](36) NULL,
	[ModifiedBy] [varchar](36) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[Version] [int] NULL,
	[IsStable] [bit] NULL,
	[Deadline] [datetime] NULL,
	[Rating] [int] NULL,
	[Remarks] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LambdaComplex_MileStone_Changes_Trn_tbl]    Script Date: 14-04-2024 11:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LambdaComplex_MileStone_Changes_Trn_tbl](
	[RecordId] [varchar](36) NULL,
	[ID] [varchar](36) NULL,
	[Name] [varchar](200) NULL,
	[Description] [varchar](max) NULL,
	[RunningStatus] [int] NULL,
	[AssignedTo] [varchar](36) NULL,
	[ReportingStatus] [varchar](15) NULL,
	[Version] [int] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [varchar](36) NULL,
	[ModifiedBy] [varchar](36) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsStable] [bit] NULL,
	[Deadline] [datetime] NULL,
	[Rating] [int] NULL,
	[Remarks] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LambdaComplex_MileStone_Mst_tbl]    Script Date: 14-04-2024 11:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LambdaComplex_MileStone_Mst_tbl](
	[ID] [varchar](36) NULL,
	[Name] [varchar](200) NULL,
	[Description] [varchar](max) NULL,
	[RunningStatus] [int] NULL,
	[AssignedTo] [varchar](36) NULL,
	[ReportingStatus] [varchar](15) NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [varchar](36) NULL,
	[ModifiedBy] [varchar](36) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsStable] [bit] NULL,
	[Version] [int] NULL,
	[Deadline] [datetime] NULL,
	[Rating] [int] NULL,
	[Remarks] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LambdaComplex_Project_Changes_Trn_tbl]    Script Date: 14-04-2024 11:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LambdaComplex_Project_Changes_Trn_tbl](
	[ID] [varchar](36) NULL,
	[Name] [varchar](200) NULL,
	[Description] [varchar](max) NULL,
	[RunningStatus] [int] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [varchar](36) NULL,
	[ModifiedBy] [varchar](36) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[ReportingStatus] [varchar](15) NULL,
	[IsStable] [bit] NULL,
	[Version] [int] NULL,
	[RecordID] [varchar](36) NULL,
	[Deadline] [datetime] NULL,
	[Rating] [int] NULL,
	[Remarks] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LambdaComplex_Project_Mst_tbl]    Script Date: 14-04-2024 11:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LambdaComplex_Project_Mst_tbl](
	[ID] [varchar](36) NULL,
	[Name] [varchar](200) NULL,
	[Description] [varchar](max) NULL,
	[RunningStatus] [int] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [varchar](36) NULL,
	[ModifiedBy] [varchar](36) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsStable] [bit] NULL,
	[Version] [int] NULL,
	[ReportingStatus] [varchar](15) NULL,
	[Deadline] [datetime] NULL,
	[Rating] [int] NULL,
	[Remarks] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LambdaComplex_Task_Changes_Trn_tbl]    Script Date: 14-04-2024 11:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LambdaComplex_Task_Changes_Trn_tbl](
	[RecordId] [varchar](36) NULL,
	[ID] [varchar](36) NULL,
	[Name] [varchar](200) NULL,
	[Description] [varchar](max) NULL,
	[RunningStatus] [int] NULL,
	[AssignedTo] [varchar](36) NULL,
	[ReportingStatus] [varchar](15) NULL,
	[Version] [int] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [varchar](36) NULL,
	[ModifiedBy] [varchar](36) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsStable] [bit] NULL,
	[Deadline] [datetime] NULL,
	[Rating] [int] NULL,
	[Remarks] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LambdaComplex_Task_Mst_tbl]    Script Date: 14-04-2024 11:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LambdaComplex_Task_Mst_tbl](
	[ID] [varchar](36) NULL,
	[Name] [varchar](200) NULL,
	[Description] [varchar](max) NULL,
	[RunningStatus] [int] NULL,
	[AssignedTo] [varchar](36) NULL,
	[ReportingStatus] [varchar](15) NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [varchar](36) NULL,
	[ModifiedBy] [varchar](36) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsStable] [bit] NULL,
	[Version] [int] NULL,
	[Deadline] [datetime] NULL,
	[Rating] [int] NULL,
	[Remarks] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LambdaComplex_Team_Mst_Tbl]    Script Date: 14-04-2024 11:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LambdaComplex_Team_Mst_Tbl](
	[ID] [varchar](36) NOT NULL,
	[TeamName] [varchar](200) NULL,
	[TeamDescription] [varchar](max) NULL,
	[LeaderID] [varchar](36) NOT NULL,
	[ProjectID] [varchar](36) NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [varchar](36) NULL,
	[ModifiedBy] [varchar](36) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LambdaComplex_TeamMember_Trn_Tbl]    Script Date: 14-04-2024 11:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LambdaComplex_TeamMember_Trn_Tbl](
	[ID] [varchar](36) NOT NULL,
	[TeamID] [varchar](36) NOT NULL,
	[TeamMemberID] [varchar](36) NOT NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [varchar](36) NULL,
	[ModifiedBy] [varchar](36) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LambdaComplex_User_Mst_Tbl]    Script Date: 14-04-2024 11:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LambdaComplex_User_Mst_Tbl](
	[ID] [varchar](36) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[Password] [varchar](500) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[EmailID] [varchar](200) NOT NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[Role] [varchar](20) NULL,
	[MobileNumber] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LambdaComplex_WorkTimeline_Trn_Tbl]    Script Date: 14-04-2024 11:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LambdaComplex_WorkTimeline_Trn_Tbl](
	[ID] [varchar](36) NULL,
	[Message] [varchar](500) NOT NULL,
	[RecordID] [varchar](36) NOT NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [varchar](36) NOT NULL,
	[ModifiedBy] [varchar](36) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[LambdaComplex_CalendarEvent_Trn_Tbl] ([ID], [EventDescription], [EventDate], [CreatedBy], [ModifiedBy], [IsDeleted], [CreatedOn], [ModifiedOn], [EventPriority], [EventName], [EventTime], [IsExpired]) VALUES (N'03F5BA35-E358-41B0-BB66-93A0463D7662', N'my other event', CAST(N'2024-03-28T00:00:00.000' AS DateTime), N'6DCBDB95-9B96-4E07-A2DE-F6FC6E371812', N'SYSTEM', 0, CAST(N'2024-03-26T10:33:10.823' AS DateTime), CAST(N'2024-04-11T17:56:58.257' AS DateTime), N'LOW', NULL, NULL, 1)
INSERT [dbo].[LambdaComplex_CalendarEvent_Trn_Tbl] ([ID], [EventDescription], [EventDate], [CreatedBy], [ModifiedBy], [IsDeleted], [CreatedOn], [ModifiedOn], [EventPriority], [EventName], [EventTime], [IsExpired]) VALUES (N'07D59335-7253-4BE7-A306-E69470C57017', N'eid', CAST(N'2024-03-28T00:00:00.000' AS DateTime), N'6DCBDB95-9B96-4E07-A2DE-F6FC6E371812', N'SYSTEM', 0, CAST(N'2024-03-26T15:48:32.520' AS DateTime), CAST(N'2024-04-11T17:56:58.257' AS DateTime), N'LOW', NULL, NULL, 1)
INSERT [dbo].[LambdaComplex_CalendarEvent_Trn_Tbl] ([ID], [EventDescription], [EventDate], [CreatedBy], [ModifiedBy], [IsDeleted], [CreatedOn], [ModifiedOn], [EventPriority], [EventName], [EventTime], [IsExpired]) VALUES (N'30CF9385-F67C-4D51-891F-F3704CE26263', N'er', CAST(N'2024-04-10T00:00:00.000' AS DateTime), N'DE73D226-5B97-4800-B00A-71002378397E', N'SYSTEM', 0, CAST(N'2024-04-09T16:39:57.470' AS DateTime), CAST(N'2024-04-11T17:56:58.257' AS DateTime), N'HIGH', N'er', N'12:30 AM', 1)
GO
INSERT [dbo].[LambdaComplex_File_Trn_Tbl] ([ID], [UserID], [RecordID], [FileName], [FileType], [StoredFileName], [IsDeleted], [CreatedBy], [ModifiedBy], [CreatedOn], [ModifiedOn]) VALUES (N'ED36A44F-AB4E-4C04-AB6C-FE284F2CE81D', N'DE73D226-5B97-4800-B00A-71002378397E', N'D572EB17-62EA-4835-BDEF-FB94D3D4D6D3', N'Export (9).xlsx', N'xlsx', N'ED36A44F-AB4E-4C04-AB6C-FE284F2CE81D-Export (9).xlsx', 0, N'DE73D226-5B97-4800-B00A-71002378397E', N'DE73D226-5B97-4800-B00A-71002378397E', CAST(N'2024-04-11T08:56:42.400' AS DateTime), CAST(N'2024-04-11T08:56:42.400' AS DateTime))
INSERT [dbo].[LambdaComplex_File_Trn_Tbl] ([ID], [UserID], [RecordID], [FileName], [FileType], [StoredFileName], [IsDeleted], [CreatedBy], [ModifiedBy], [CreatedOn], [ModifiedOn]) VALUES (N'35AF4BF4-726F-46D0-9BC0-EE49B2DF9C5D', N'DE73D226-5B97-4800-B00A-71002378397E', N'D572EB17-62EA-4835-BDEF-FB94D3D4D6D3', N'Export (8).xlsx', N'xlsx', N'35AF4BF4-726F-46D0-9BC0-EE49B2DF9C5D-Export (8).xlsx', 0, N'DE73D226-5B97-4800-B00A-71002378397E', N'DE73D226-5B97-4800-B00A-71002378397E', CAST(N'2024-04-11T08:56:42.410' AS DateTime), CAST(N'2024-04-11T08:56:42.410' AS DateTime))
GO
INSERT [dbo].[LambdaComplex_Project_Mst_tbl] ([ID], [Name], [Description], [RunningStatus], [IsDeleted], [CreatedBy], [ModifiedBy], [CreatedOn], [ModifiedOn], [IsStable], [Version], [ReportingStatus], [Deadline], [Rating], [Remarks]) VALUES (N'D4AB8CEB-5030-45C5-888E-98BD7A93DD37', N'To be abandoned', N'To be abandoned', -1, 0, N'DE73D226-5B97-4800-B00A-71002378397E', N'DE73D226-5B97-4800-B00A-71002378397E', CAST(N'2024-04-14T23:00:50.303' AS DateTime), CAST(N'2024-04-14T23:00:50.303' AS DateTime), 1, 1, N'INITIAL', CAST(N'2024-04-28T00:00:00.000' AS DateTime), 1, N'ABD ed!!!!')
GO
INSERT [dbo].[LambdaComplex_Team_Mst_Tbl] ([ID], [TeamName], [TeamDescription], [LeaderID], [ProjectID], [IsDeleted], [CreatedBy], [ModifiedBy], [CreatedOn], [ModifiedOn]) VALUES (N'1DCE50DE-F5BA-4908-B1E2-2B038BE13A5D', N'Lambda Core Team', N' Lambda Core team infinite rocks!!!!!!
                        ', N'8334276F-F2DB-42A8-A2B2-0558A1CD87D8', N'er', 0, N'DE73D226-5B97-4800-B00A-71002378397E', N'DE73D226-5B97-4800-B00A-71002378397E', CAST(N'2024-04-11T13:03:16.350' AS DateTime), CAST(N'2024-04-11T13:03:16.350' AS DateTime))
GO
INSERT [dbo].[LambdaComplex_TeamMember_Trn_Tbl] ([ID], [TeamID], [TeamMemberID], [IsDeleted], [CreatedBy], [ModifiedBy], [CreatedOn], [ModifiedOn]) VALUES (N'1E10E4D4-C3B4-455F-9B49-4442FCC52EE1', N'B663E300-C9E6-48AE-BD38-E60B4A5B7C2A', N'2907AAE4-860A-430F-8DAB-62E1998911EA', 0, N'DE73D226-5B97-4800-B00A-71002378397E', N'DE73D226-5B97-4800-B00A-71002378397E', CAST(N'2024-04-10T09:56:49.220' AS DateTime), CAST(N'2024-04-10T09:56:49.220' AS DateTime))
INSERT [dbo].[LambdaComplex_TeamMember_Trn_Tbl] ([ID], [TeamID], [TeamMemberID], [IsDeleted], [CreatedBy], [ModifiedBy], [CreatedOn], [ModifiedOn]) VALUES (N'46C5BB62-615E-47DF-98E2-DAFAB0740AFC', N'B663E300-C9E6-48AE-BD38-E60B4A5B7C2A', N'15DE59B3-4751-4A07-AB42-C1FF5F8A2D10', 0, N'DE73D226-5B97-4800-B00A-71002378397E', N'DE73D226-5B97-4800-B00A-71002378397E', CAST(N'2024-04-10T09:57:05.403' AS DateTime), CAST(N'2024-04-10T09:57:05.403' AS DateTime))
INSERT [dbo].[LambdaComplex_TeamMember_Trn_Tbl] ([ID], [TeamID], [TeamMemberID], [IsDeleted], [CreatedBy], [ModifiedBy], [CreatedOn], [ModifiedOn]) VALUES (N'75B4F81E-1641-49FD-8A3F-2D780C49B35F', N'B663E300-C9E6-48AE-BD38-E60B4A5B7C2A', N'48A23EE3-CBE6-4104-8D91-C435EBA89A84', 0, N'DE73D226-5B97-4800-B00A-71002378397E', N'DE73D226-5B97-4800-B00A-71002378397E', CAST(N'2024-04-10T09:56:57.230' AS DateTime), CAST(N'2024-04-10T09:56:57.230' AS DateTime))
GO
INSERT [dbo].[LambdaComplex_User_Mst_Tbl] ([ID], [FirstName], [LastName], [Password], [UserName], [EmailID], [IsDeleted], [CreatedOn], [ModifiedOn], [Role], [MobileNumber]) VALUES (N'DE73D226-5B97-4800-B00A-71002378397E', N'Rishit', N'Selia', N'HIM~1»£Õ¬«n{·ªtÎ…ÔVV^õsvw²', N'Rishit.Selia', N'Rishit.Selia@gmail.com', 0, CAST(N'2024-03-12T22:54:20.747' AS DateTime), CAST(N'2024-03-24T11:38:30.993' AS DateTime), N'Admin', N'9099433022')
INSERT [dbo].[LambdaComplex_User_Mst_Tbl] ([ID], [FirstName], [LastName], [Password], [UserName], [EmailID], [IsDeleted], [CreatedOn], [ModifiedOn], [Role], [MobileNumber]) VALUES (N'6DCBDB95-9B96-4E07-A2DE-F6FC6E371812', N'Muneer', N'Ahmad', N'HIM~1»£Õ¬«n{·ªtÎ…ÔVV^õsvw²', N'Muneer.Ahmad', N'Muneer.Ahmad@gmail.com', 0, CAST(N'2024-03-25T09:25:09.920' AS DateTime), CAST(N'2024-03-26T15:49:15.750' AS DateTime), N'Admin', N'9760811155')
INSERT [dbo].[LambdaComplex_User_Mst_Tbl] ([ID], [FirstName], [LastName], [Password], [UserName], [EmailID], [IsDeleted], [CreatedOn], [ModifiedOn], [Role], [MobileNumber]) VALUES (N'2907AAE4-860A-430F-8DAB-62E1998911EA', N'Berlin', N'Singh', N'HIM~1»£Õ¬«n{·ªtÎ…ÔVV^õsvw²', N'Berlin.Singh', N'Berlin.Singh@gmail.com', 0, CAST(N'2024-03-25T09:25:50.130' AS DateTime), CAST(N'2024-03-25T09:25:50.130' AS DateTime), N'Dev', N'9090909090')
GO
INSERT [dbo].[LambdaComplex_WorkTimeline_Trn_Tbl] ([ID], [Message], [RecordID], [IsDeleted], [CreatedBy], [ModifiedBy], [CreatedOn], [ModifiedOn]) VALUES (N'0C247BCA-C5C1-4A30-A2A4-BD93F49E1CE7', N'Created a new Team named Lambda Core Team', N'1DCE50DE-F5BA-4908-B1E2-2B038BE13A5D', 0, N'DE73D226-5B97-4800-B00A-71002378397E', N'DE73D226-5B97-4800-B00A-71002378397E', CAST(N'2024-04-11T13:03:31.330' AS DateTime), CAST(N'2024-04-11T13:03:31.330' AS DateTime))
INSERT [dbo].[LambdaComplex_WorkTimeline_Trn_Tbl] ([ID], [Message], [RecordID], [IsDeleted], [CreatedBy], [ModifiedBy], [CreatedOn], [ModifiedOn]) VALUES (N'E30ACCFC-5B54-49DF-B62C-0570FA87582E', N'Updated a new Team named Lambda Core Team', N'1DCE50DE-F5BA-4908-B1E2-2B038BE13A5D', 0, N'DE73D226-5B97-4800-B00A-71002378397E', N'DE73D226-5B97-4800-B00A-71002378397E', CAST(N'2024-04-11T13:04:34.723' AS DateTime), CAST(N'2024-04-11T13:04:34.723' AS DateTime))
GO
ALTER TABLE [dbo].[LambdaComplex_CalendarEvent_Trn_Tbl] ADD  CONSTRAINT [DF__LambdaComple__ID__49C3F6B7]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[LambdaComplex_CalendarEvent_Trn_Tbl] ADD  CONSTRAINT [DF__LambdaCom__Event__4AB81AF0]  DEFAULT ('') FOR [EventDescription]
GO
ALTER TABLE [dbo].[LambdaComplex_CalendarEvent_Trn_Tbl] ADD  CONSTRAINT [DF__LambdaCom__Event__4BAC3F29]  DEFAULT (getdate()) FOR [EventDate]
GO
ALTER TABLE [dbo].[LambdaComplex_CalendarEvent_Trn_Tbl] ADD  CONSTRAINT [DF__LambdaCom__IsDel__4CA06362]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LambdaComplex_CalendarEvent_Trn_Tbl] ADD  CONSTRAINT [DF__LambdaCom__Creat__4D94879B]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_CalendarEvent_Trn_Tbl] ADD  CONSTRAINT [DF__LambdaCom__Modif__4E88ABD4]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_CalendarEvent_Trn_Tbl] ADD  CONSTRAINT [DF__LambdaCom__Event__4F7CD00D]  DEFAULT ('MID') FOR [EventPriority]
GO
ALTER TABLE [dbo].[LambdaComplex_CalendarEvent_Trn_Tbl] ADD  CONSTRAINT [DF__LambdaCom__IsExp__4D5F7D71]  DEFAULT ((0)) FOR [IsExpired]
GO
ALTER TABLE [dbo].[LambdaComplex_File_Trn_Tbl] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[LambdaComplex_File_Trn_Tbl] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LambdaComplex_File_Trn_Tbl] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_File_Trn_Tbl] ADD  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__Recor__5165187F]  DEFAULT (newid()) FOR [RecordId]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaComp__Name__52593CB8]  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__Descr__534D60F1]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__Runni__5441852A]  DEFAULT ((0)) FOR [RunningStatus]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__Repor__5535A963]  DEFAULT ((0)) FOR [ReportingStatus]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__versi__5629CD9C]  DEFAULT ((1)) FOR [Version]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__IsDel__571DF1D5]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__Creat__5812160E]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__Modif__59063A47]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Changes_Trn_tbl] ADD  CONSTRAINT [DF_LambdaComplex_Goal_Changes_Trn_tbl_Rating]  DEFAULT ((5)) FOR [Rating]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Mst_tbl] ADD  CONSTRAINT [DF__LambdaComple__ID__59FA5E80]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Mst_tbl] ADD  CONSTRAINT [DF__LambdaComp__Name__5AEE82B9]  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Mst_tbl] ADD  CONSTRAINT [DF__LambdaCom__Descr__5BE2A6F2]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Mst_tbl] ADD  CONSTRAINT [DF__LambdaCom__Runni__5CD6CB2B]  DEFAULT ((0)) FOR [RunningStatus]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Mst_tbl] ADD  CONSTRAINT [DF__LambdaCom__Repor__5DCAEF64]  DEFAULT ((0)) FOR [ReportingStatus]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Mst_tbl] ADD  CONSTRAINT [DF__LambdaCom__IsDel__5EBF139D]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Mst_tbl] ADD  CONSTRAINT [DF__LambdaCom__Creat__5FB337D6]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Mst_tbl] ADD  CONSTRAINT [DF__LambdaCom__Modif__60A75C0F]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_Goal_Mst_tbl] ADD  CONSTRAINT [DF_LambdaComplex_Goal_Mst_tbl_Rating]  DEFAULT ((5)) FOR [Rating]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__Recor__619B8048]  DEFAULT (newid()) FOR [RecordId]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaComp__Name__628FA481]  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__Descr__6383C8BA]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__Runni__6477ECF3]  DEFAULT ((0)) FOR [RunningStatus]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__Repor__656C112C]  DEFAULT ((0)) FOR [ReportingStatus]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__versi__66603565]  DEFAULT ((1)) FOR [Version]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__IsDel__6754599E]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__Creat__68487DD7]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__Modif__693CA210]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Changes_Trn_tbl] ADD  CONSTRAINT [DF_LambdaComplex_MileStone_Changes_Trn_tbl_Rating]  DEFAULT ((5)) FOR [Rating]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Mst_tbl] ADD  CONSTRAINT [DF__LambdaComple__ID__6A30C649]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Mst_tbl] ADD  CONSTRAINT [DF__LambdaComp__Name__6B24EA82]  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Mst_tbl] ADD  CONSTRAINT [DF__LambdaCom__Descr__6C190EBB]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Mst_tbl] ADD  CONSTRAINT [DF__LambdaCom__Runni__6D0D32F4]  DEFAULT ((0)) FOR [RunningStatus]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Mst_tbl] ADD  CONSTRAINT [DF__LambdaCom__Repor__6E01572D]  DEFAULT ((0)) FOR [ReportingStatus]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Mst_tbl] ADD  CONSTRAINT [DF__LambdaCom__IsDel__6EF57B66]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Mst_tbl] ADD  CONSTRAINT [DF__LambdaCom__Creat__6FE99F9F]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Mst_tbl] ADD  CONSTRAINT [DF__LambdaCom__Modif__70DDC3D8]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_MileStone_Mst_tbl] ADD  CONSTRAINT [DF_LambdaComplex_MileStone_Mst_tbl_Rating]  DEFAULT ((5)) FOR [Rating]
GO
ALTER TABLE [dbo].[LambdaComplex_Project_Changes_Trn_tbl] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[LambdaComplex_Project_Changes_Trn_tbl] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[LambdaComplex_Project_Changes_Trn_tbl] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[LambdaComplex_Project_Changes_Trn_tbl] ADD  DEFAULT ((0)) FOR [RunningStatus]
GO
ALTER TABLE [dbo].[LambdaComplex_Project_Changes_Trn_tbl] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LambdaComplex_Project_Changes_Trn_tbl] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_Project_Changes_Trn_tbl] ADD  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_Project_Changes_Trn_tbl] ADD  CONSTRAINT [DF_LambdaComplex_Project_Changes_Trn_tbl_Rating]  DEFAULT ((5)) FOR [Rating]
GO
ALTER TABLE [dbo].[LambdaComplex_Project_Mst_tbl] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[LambdaComplex_Project_Mst_tbl] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[LambdaComplex_Project_Mst_tbl] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[LambdaComplex_Project_Mst_tbl] ADD  DEFAULT ((0)) FOR [RunningStatus]
GO
ALTER TABLE [dbo].[LambdaComplex_Project_Mst_tbl] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LambdaComplex_Project_Mst_tbl] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_Project_Mst_tbl] ADD  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_Project_Mst_tbl] ADD  CONSTRAINT [DF_LambdaComplex_Project_Mst_tbl_Rating]  DEFAULT ((5)) FOR [Rating]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__Recor__7F2BE32F]  DEFAULT (newid()) FOR [RecordId]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaComp__Name__00200768]  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__Descr__01142BA1]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__Runni__02084FDA]  DEFAULT ((0)) FOR [RunningStatus]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__Repor__02FC7413]  DEFAULT ((0)) FOR [ReportingStatus]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__versi__03F0984C]  DEFAULT ((1)) FOR [Version]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__IsDel__04E4BC85]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__Creat__05D8E0BE]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Changes_Trn_tbl] ADD  CONSTRAINT [DF__LambdaCom__Modif__06CD04F7]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Changes_Trn_tbl] ADD  CONSTRAINT [DF_LambdaComplex_Task_Changes_Trn_tbl_Rating]  DEFAULT ((5)) FOR [Rating]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Mst_tbl] ADD  CONSTRAINT [DF__LambdaComple__ID__07C12930]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Mst_tbl] ADD  CONSTRAINT [DF__LambdaComp__Name__08B54D69]  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Mst_tbl] ADD  CONSTRAINT [DF__LambdaCom__Descr__09A971A2]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Mst_tbl] ADD  CONSTRAINT [DF__LambdaCom__Runni__0A9D95DB]  DEFAULT ((0)) FOR [RunningStatus]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Mst_tbl] ADD  CONSTRAINT [DF__LambdaCom__Repor__0B91BA14]  DEFAULT ((0)) FOR [ReportingStatus]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Mst_tbl] ADD  CONSTRAINT [DF__LambdaCom__IsDel__0C85DE4D]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Mst_tbl] ADD  CONSTRAINT [DF__LambdaCom__Creat__0D7A0286]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Mst_tbl] ADD  CONSTRAINT [DF__LambdaCom__Modif__0E6E26BF]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_Task_Mst_tbl] ADD  CONSTRAINT [DF_LambdaComplex_Task_Mst_tbl_Rating]  DEFAULT ((5)) FOR [Rating]
GO
ALTER TABLE [dbo].[LambdaComplex_Team_Mst_Tbl] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[LambdaComplex_Team_Mst_Tbl] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LambdaComplex_Team_Mst_Tbl] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_Team_Mst_Tbl] ADD  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_TeamMember_Trn_Tbl] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[LambdaComplex_TeamMember_Trn_Tbl] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LambdaComplex_TeamMember_Trn_Tbl] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_TeamMember_Trn_Tbl] ADD  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_User_Mst_Tbl] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[LambdaComplex_User_Mst_Tbl] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LambdaComplex_User_Mst_Tbl] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_User_Mst_Tbl] ADD  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_WorkTimeline_Trn_Tbl] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[LambdaComplex_WorkTimeline_Trn_Tbl] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LambdaComplex_WorkTimeline_Trn_Tbl] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LambdaComplex_WorkTimeline_Trn_Tbl] ADD  DEFAULT (getdate()) FOR [ModifiedOn]
GO
USE [master]
GO
