{% block content %}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profile info</h4>
            <p class="card-description"> Change Password </p>
            <form class="forms-sample" id="FORM">
                <div class="form-group row">
                    <label for="nmPhoneNumber" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="pswPassword" placeholder="New Password"
                            required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="emEmailID" class="col-sm-3 col-form-label">Confirm Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="pswConfirmPassword"
                            placeholder="Confirm password" required>
                    </div>
                </div>
                <button type="button" class="btn btn-gradient-primary me-2" onclick="ChangePassword()">Change
                    password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}